[Unit]
Description=Corda Node - ALFA-Bank - party A
Requires=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/corda/nodes/alfa
ExecStart=sudo /usr/bin/java -jar /opt/corda/nodes/alfa/corda.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
