[Unit]
Description=Corda Node - Bank Barclays - party B
Requires=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/corda/nodes/barclays
ExecStart=sudo /usr/bin/java -jar /opt/corda/nodes/barclays/corda.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
